{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% trans "SignUp" %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="بهترین فروشگاه اینترنتی برای خرید لوازم ارایشی بهداشتی. پیج ما را هم در اینستاگرام میتوانید دنبال کنید">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"> {% endcomment %}
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/utillogin.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mainlogin.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
<!--===============================================================================================-->
<style>
	@font-face {
		font-family: "lalezar";
		src: url("{% static 'fonts/Lalezar-Regular.ttf' %}");
	}
	body,p,h1,h2,h3,h4,h5,h6,span,a{
		font-family: "lalezar";
	}
</style>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'images/Dollarphotoclub_64630903-m21492l9gzuwprukfg4s8nsp420bbf9stdvgsi04g8.jpg' %}');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" method='POST'>
                    {% csrf_token %}
					<span class="login100-form-title p-b-49">
						{% trans "Signup" %}
					</span>
					{% if form.errors.items %}
                    <ul class="errorlist ">
						{% for key, value in form.errors.items %}
						<li class='bg-danger text-white mt-3 text-center p-1'>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
                        {% endfor %}
                    </ul>
					{% endif %}
                        
					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100"><i class='fa fa-user text-white'></i></span>
						{{form.username|add_class:"input100"}}

					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100"><i class='fa fa-phone text-white'></i></span>
						{% render_field form.phone class="input100" placeholder='شماره تلفن' %}

					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100"><i class='fa fa-phone text-white'></i></span>
						{% render_field form.email class="input100" placeholder='ایمیل' %}

					</div>

					<div class="wrap-input100 validate-input mb-5" data-validate="Password is required">
						<span class="label-input100"><i class="fa-solid fa-lock text-white"></i></span>
						{{form.password1|add_class:"input100"}}

					</div>
					<div class="wrap-input100 validate-input mb-5" data-validate="Password is required">
						<span class="label-input100"><i class="fa-solid fa-lock text-white"></i></span>
						{{form.password2|add_class:"input100"}}

					</div>
					
					
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type='submit' class="login100-form-btn">
								{% trans "SignUp" %}
							</button>
						</div>
					</div>

					<div class="flex-col-c p-t-60">
						<a title='login' target='_self' href="{% url 'account_login' %}" class="txt2 text-dark">
							{% trans "I have account (Login)" %}
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>