{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}{% trans "recieve info" %}{% endblock title %}

{% block content %}
    
    <form class='me-4 my-5 rtl' action="" method='POST'>
        <h2 class="text-center text-light"><span class='bg-danger px-3 py-1 rounded-pill fs-5'>{% trans "edit recieve information" %}</span></h2>
        {% csrf_token %}
        <label class='mt-3'>نام</label>
        {{form.name|add_class:"textinput form-control border border-dark"}}
        <label class='mt-3'>نام خانوادگی</label>
        {{form.last_name|add_class:"textinput form-control border border-dark"}}
        <label class='mt-3'>آدرس کامل</label>
        {{form.address|add_class:"textinput form-control border border-dark"}}
        <label class='mt-3'>شماره تلفن</label>
        {{form.phone_number|add_class:"textinput form-control border border-dark"}}
        <button class='btn btn-success mt-3' type='submit'>{% trans "done" %}</button>
    </form>
{% endblock content %}