{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "ایجاد سفارش" %}{% endblock title %}

{% block content %}
    
    <h2 class='me-5 mt-3 rtl'>{% trans "آدرس دریافت شما" %} : </h2>
    <div class='text-center'>
        <div class='text-dark mb-3'>

            {% comment %} user's information to recieve product {% endcomment %}
            <span class='fs-5'><strong>{% trans "Name" %} : {{infos.name}}</strong></span><br>
            <span class='fs-5'><strong>{% trans "Last Name" %} : {{infos.last_name}}</strong></span><br>
            <span class='fs-5'><strong>{% trans "Address" %} : {{infos.address}}</strong></span><br>
            <span class='fs-5'><strong>{% trans "Phone" %} : {{infos.phone_number}}</strong></span>
        </div>
        <form class='mb-4' action="" method='POST'>
            {% csrf_token %}
            {% if infos %}
            <button class='btn bg-warning text-dark rounded-pill fs-5' type='submit'>{% trans "تایید و ادامه" %}</button><br>
            {% endif %}
            <a title='ادرس جدید' target='_self' class='btn bg-success my-3 rounded-pill text-white fs-5' href="{% url 'order_infocreate' %}">{% trans "new address" %}</a>
        </form>
    </div>
{% endblock content %}